@import url('https://fonts.googleapis.com/css?family=Patua+One:400, 500, 600, 700|Oleo+Script:400, 500, 600, 700');

html{
  position:relative; 
  min-height: 100%;
}

body{
    background-color: #FBFADD;
    font-family: 'Patua One', cursive;
    margin: 0;
}

h3{
    font-weight: 500;
    margin: 0 0;
    color: #000000;
}

.blue-box{
    background-color: #95DCD8;
    padding: 5px 0 10px;
    border-radius: 100px;
    height: 20px;
    width: 200px;
    text-align: center;
    border: 2px solid #000000;
}
/*------------------------------------------INDEX.HTML-----------------------------------------*/
/*--HEADER--*/
.header{
    width: 100%;
    height: 100px;
    text-align: center;
}

.header-box{
    margin-top: 40px;
    text-decoration: none
}

.header-link{
    text-decoration: none;
}

.header-text{
    font-size: 300%;
    color: #ce4343;
    text-shadow: 2px 2px 2px #000000;
}

/*---------------------------------INTRO-------------------------------*/
#intro{
    width: 100%;
    text-align: center;
}

#intro-text{
    font-size: 150%;
    
}

/*-----------------------------LEVEL SELECT----------------------------*/
#level-select{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.level-links{
    text-decoration: none;
}

/*-------------------------------TUTORIAL-----------------------------*/
#tutorial{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#tutorial-video{
    display: none;
    height: 220px;
    border: 2px solid #000000;
}

/*--------------------------------FOOTER------------------------------*/
footer{
    display: flex;
    width: 100%;
    margin: 0 0;
    padding: 0 10px;
    background-color: #95DCD8;
    position: fixed;
    bottom: 0;
    left: 0;  
}

.footer-icons{
    position: fixed;
    right:0px;
    padding: 15px 10px 5px 0px;
}

.social-icons{
    margin-left: 10px;
    margin-right: 10px;
}

/*------------------------------------------PLAY.HTML-----------------------------------------*/

/*-------------------------------LEFT-HAND SIDE----------------------------*/
#game-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.click-box,
#phone-click-counter{
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 40px;
    width: 20%;
}


.click-counter{
    position: relative;
    width: 150px;
    padding: 7px 14px;
    border-radius: 100px;
    background-color: #95DCD8;
    border: 2px solid #000000;
    text-align: center;
}

#phone-shuffle{
    display: none;
}

#phone-info-click{
    display: none;
}

/*------------------------------------CARD SECTION-----------------------------*/
#card-section{
    width: 60%;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: center;
}

#center-grid{
    max-width: 675px;
}
.card-grid{
    display:inline-grid;
    margin-bottom: 10px;
}

.card{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 40px;
    width: 85px;
}
.card-front{
    display: flex;
    background-color: #fbff70;
    padding: 10px;
}
.card-number{
    width: 40px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}

.number-text{
    margin: 0 0;
    font-size: 200%;
    font-family: 'Oleo Script', cursive;
}

.card-image{
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.card-back{
    padding: 15px 10px 5px;
    background-color: #e0e6de;
}

.card-back-text{
    color: #ce4343;
    text-shadow: 1px 1px 1px #000000;
    margin: 0 0;
}
/*---------------------------------WIN/LOSS SCREEN-----------------------------*/
#win-screen,
#loss-screen{
    display: none;
    width: 60%;
    padding: 0 20px 0 40px;
    justify-content: center;
}

.result-box{
    width: 50%;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 0;
    background-color: #6a65fd;
    box-shadow: 2px 2px 2px #000000;
}
.result-text-box, 
.play-again-box{
    display: flex;
    width:100%;
    margin-bottom: 10px;
    justify-content: center;
}

.result-text{
    font-size: 300%;
    margin: 20px 0;
    color: #eab029;
    text-shadow: 2px 2px 2px #000000;
}

/*-------------------------------SHUFFLE BUTTON-------------------------------*/
#right-hand-side{
    width: 20%;
}

.info-shuffle-box{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.info-box{
    position: relative;
    display: flex;
    width: 20%;
    justify-content: center;
}

.info-button{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #e2e61b;
    border: 2px solid #000000;
    justify-content: center;
}

.fa-info{
    margin-top: 10px;
}

.shuffle-button-box{
    position: relative;
    width: 80%;
    display:flex;
    justify-content: center;
}

button{
    position: relative;
    width: 150px;
    height: 40px;
    background-color: #95DCD8;;
    font-size: 120%;
    font-weight: 600;
    border: 2px solid #000000;
    border-radius: 100px;
}

#tutorial-info-shell{
    width: 100%;
    display: flex;
}

#tutorial-info-box{
    display: none;
    width: 80%;
    background-color: #e2e61b;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
}


/*------------------------------------------PHONE MEDIA QUERY-----------------------------------------*/
@media only screen and (max-width: 1024px){

#tutorial-video{
    height: 170px;
}
.footer-text{
    margin-right: 5px;
}
.footer-span{
    display: none;
}

.footer-icons{
    right: 5px;
}

.social-icons{
    margin-right: 0;
}
/*------------------------PLAY.HTML----------------------------*/
#game-section{
    display: block;
    margin-bottom: 100px;
}

.click-box{
    width: 100%;
    margin-bottom: 30px;
}

#card-section{
    width: 100%;
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

#center-grid{
    max-width: 340px;
}

#win-screen,
#loss-screen{
    width: 100%;
    padding: 0 0;
    margin-bottom: 20px;
}

.result-box{
    width: 80%;
}

#right-hand-side{
    width: 100%;
}
.shuffle-button-box{
    width:100%;
}

.shuffle-button{
    margin-bottom: 20px;
}

#phone-shuffle{
    display: flex;
}

#phone-info-click{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#phone-click-counter{
    width: 70%;
}

#desktop-shuffle{
    display: none;
}

#tutorial-info-shell{
    justify-content: center;
}

#tutorial-info-box{
    width: 70%;
}
}

